/*
 * Copyright 2022-2023 Duncan McIntosh <duncan82013@live.ca>
 *
 * This file is part of the Sigmund project.
 * See <https://codeberg.org/duncanm/sigmund>.
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */
html {
    color-scheme: light dark;
    /* prettier-ignore */
    direction: __MSG_@@bidi_dir__;
    box-sizing: border-box;
}

header {
    font-size: x-small;
    margin-bottom: 0.5em;

    display: flex;
    justify-content: space-between;
}

header > a {
    text-transform: lowercase;
}

#clock {
    font-family: monospace;
    font-size: xx-large;

    /* 00:00:00 */
    width: 8ch;

    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;

    text-align: center;
}
