/*
 * Copyright 2022 Duncan McIntosh <duncan82013@live.ca>
 *
 * This file is part of the Sigmund project.
 * See <https://codeberg.org/duncanm/sigmund>.
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */
html {
    color-scheme: light dark;
    font: message-box;
    font-family: sans-serif;
    /* prettier-ignore */
    direction: __MSG_@@bidi_dir__;
}

body {
    max-width: 400px;
    margin: auto;

    text-align: center;
    background-color: #f774;
}
