/*
 * Copyright 2022-2023 Duncan McIntosh <duncan82013@live.ca>
 *
 * This file is part of the Sigmund project.
 * See <https://codeberg.org/duncanm/sigmund>.
 *
 * SPDX-License-Identifier: GPL-3.0-only
 */
html {
    color-scheme: light dark;
    font: message-box;
    font-family: sans-serif;
    /* prettier-ignore */
    direction: __MSG_@@bidi_dir__;
}

#h,
#m {
    width: 6rem;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

[data-status][data-current-status='modified'] {
    color: #f00d;
}

[data-status][data-current-status='saved'] {
    color: #4d4d;
}

select[multiple] {
    width: 75%;
    min-width: 20ch;
    overflow-x: scroll;
    margin: 1rem;
}

#notifications-when {
    width: 6em;
}
